@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* index.css */
@layer utilities {
  .custom-border {
    border-image: fill 0 linear-gradient(#0003, #000);
  }
}

input:user-valid {
  border: 1px solid green;
}

input:user-invalid {
  border: 1px solid red;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}
